parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\." between Reb3r\\ADOAPC\\Models\\Tag and '';'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/AzureDevOpsApiClient.php

		-
			message: '#^PHPDoc tag @return with type Reb3r\\ADOAPC\\Models\\Workitem is not subtype of native type Psr\\Http\\Message\\ResponseInterface\.$#'
			identifier: return.phpDocType
			count: 2
			path: src/AzureDevOpsApiClient.php

		-
			message: '#^PHPDoc tag @throws with type Reb3r\\ADOAPC\\Exceptions\\AuthenticationException\|Reb3r\\ADOAPC\\Models\\Exception is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 2
			path: src/Models/Workitem.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 4
			path: tests/AzureDevOpsApiClientTest.php

		-
			message: '#^Instanceof between Reb3r\\ADOAPC\\Models\\Project and Reb3r\\ADOAPC\\Models\\Project will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/AzureDevOpsApiClientTest.php

		-
			message: '#^Instanceof between Reb3r\\ADOAPC\\Models\\Team and Reb3r\\ADOAPC\\Models\\Team will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: tests/AzureDevOpsApiClientTest.php

		-
			message: '#^Instanceof between Reb3r\\ADOAPC\\Models\\Workitem and Reb3r\\ADOAPC\\Models\\Workitem will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: tests/AzureDevOpsApiClientTest.php

		-
			message: '#^Parameter \#3 \$attachments of method Reb3r\\ADOAPC\\AzureDevOpsApiClient\:\:updateWorkitemReproStepsAndAttachments\(\) expects array\<Reb3r\\ADOAPC\\Models\\AttachmentReference\>, array\<int, array\<string, string\>\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/AzureDevOpsApiClientTest.php

		-
			message: '#^Property AzureDevOpsApiClientTest\:\:\$historyContainer type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/AzureDevOpsApiClientTest.php
