<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="build/TEST-clover.xml"/>
            <crap4j outputFile="build/TEST-crap4j.xml" threshold="50"/>
            <html outputDirectory="build/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <xml outputDirectory="build/TEST-xml-coverage"/>
            <cobertura outputFile="build/TEST-cobertura-coverage.xml" />
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/TEST-phpunit.xml"/>
    </logging>
    <php>
    </php>
</phpunit>
